
    <!-- mainbody -->
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <img src="img/pic.jpg" alt="Adi Riyanto" style="height: 400px; width:auto">
          <h1>Adi Riyanto</h1>
          <p>IT Support</p>
        </div>
      </div>
    </div>
      
